@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::-webkit-scrollbar {
    width: 0.35rem;
  }

  *::-webkit-scrollbar-track {
    background: hsl(var(--muted));
  }

  *::-webkit-scrollbar-thumb {
    background: hsl(var(--ring));
  }

  /* All of these colors are in HSL */
  :root {
    font-family: "Poppins", sans-serif, Arial, Helvetica;
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --tertiary: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 249 100% 68%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 249 100% 68%;
    --radius: 0.5rem;

    --fc-today-bg-color: hsla(249, 100%, 68%, 0.137);
    --fc-event-border-color: hsl(249 100% 68%);
    --fc-button-active-bg-color: hsl(249 100% 68%);
    --fc-button-active-border-color: hsl(249 100% 68%);
    --fc-button-text-color: hsl(224 71.4% 4.1%);
    --fc-button-bg-color: hsl(0 0% 100%);
    --fc-button-border-color: hsl(249 100% 68%);
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }

  /* @media (prefers-color-scheme: dark) {
    :root {
      --background: 263 71.4% 10%;
      --foreground: 210 20% 98%;
      --tertiary: 254 20% 87%;
      --card: 263 71.4% 10%;
      --card-foreground: 254 20% 87%;
      --popover: 224 71.4% 4.1%;
      --popover-foreground: 254 20% 87%;
      --primary: 249 100% 68%;
      --primary-foreground: 254 20% 87%;
      --secondary: 256 27.9% 16.9%;
      --secondary-foreground: 254 20% 87%;
      --muted: 238 27.9% 16.9%;
      --muted-foreground: 217.9 10.6% 64.9%;
      --accent: 238 27.9% 16.9%;
      --accent-foreground: 254 20% 87%;
      --destructive: 349 66% 41%;
      --destructive-foreground: 254 20% 87%;
      --border: 246 27.9% 26%;
      --input: 238 27.9% 16.9%;
      --ring: 249 100% 68%;
    }
  } */
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio input[type="radio"] + .radio-label:before {
  content: '';
  background: hsl(var(--background));
  border-radius: 100%;
  border: 1px solid hsl(var(--primary));
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  position: relative;
  top: -0.1em;
  margin-right: 0.8em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}

.radio:hover input[type="radio"] + .radio-label:before {
  border-color: hsl(var(--foreground));
}

.radio input[type="radio"]:checked + .radio-label:before {
  background-color: hsl(var(--primary));
  box-shadow: inset 0 0 0 3px hsl(var(--background));
}

.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: hsl(var(--primary));
}

.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px hsl(var(--muted));
  border-color: darken(hsl(var(--muted)), 25%);
  background: darken(hsl(var(--muted)), 25%);
}

.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}


.material-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.material-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkmark {
  position: relative;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.8em;
  border: 1px solid hsl(var(--primary));
  border-radius: 4px;
  transition: all 250ms ease;
}

.material-checkbox input[type="checkbox"]:checked ~ .checkmark {
  background-color: hsl(var(--primary));
  border-color: hsl(var(--primary));
}

.material-checkbox input[type="checkbox"]:checked ~ .checkmark:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 10px;
  border: solid hsl(var(--background));
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.material-checkbox:hover input[type="checkbox"] ~ .checkmark {
  border-color: hsl(var(--foreground));
}

.material-checkbox input[type="checkbox"]:disabled ~ .checkmark {
  opacity: 0.5;
  cursor: not-allowed;
}

.material-checkbox input[type="checkbox"]:disabled ~ .checkmark:hover {
  border-color: hsl(var(--muted-foreground));
}




.react-datepicker {
  font-family: "Poppins", sans-serif, Arial, Helvetica;
  font-size: 0.8rem;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  border: 1px solid hsl(var(--primary));
  border-radius: 0.5rem;
  display: inline-block;
  position: relative;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  background-color: hsl(var(--primary));
}

.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before {
  border-bottom-color: hsl(var(--primary));
}

.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::after {
  border-bottom-color: hsl(var(--primary));
}

.react-datepicker-popper[data-placement^="top"]
  .react-datepicker__triangle::before {
  border-top-color: hsl(var(--primary));
}

.react-datepicker__header {
  text-align: center;
  background-color: hsl(var(--primary));
  border-bottom: 1px solid hsl(var(--primary));
  border-top-left-radius: 0.3rem;
  padding: 8px 0;
  position: relative;
}

.react-datepicker__day-names {
  background-color: hsl(var(--primary));
  font-weight: bold;
  letter-spacing: 1px;
}

.react-datepicker__day-name {
  color: hsl(var(--background));
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 0.3rem;
  background-color: hsl(var(--primary));
  color: hsl(var(--background));
}

:hover.react-datepicker__day--selected {
  background-color: hsl(var(--primary));
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  border-radius: 0.3rem;
  background-color: hsl(var(--primary));
  color: hsl(var(--background));
}

:hover.react-datepicker__day--keyboard-selected {
  background-color: hsl(var(--primary));
}



.apexcharts-text, .apexcharts-legend-text, .apexcharts-tooltip-series-group .apexcharts-active, .apexcharts-tooltip-marker, .apexcharts-tooltip-text, .apexcharts-xaxistooltip, .apexcharts-xaxistooltip-bottom, .apexcharts-tooltip-title, .apexcharts-xaxistooltip-text {
  font-family: "Poppins", sans-serif, Arial, Helvetica !important;
}

.apexcharts-menu-item {
  font-size: 11px !important;
}

.chart-icon:hover {
  filter: brightness(50%);
}



.fc {
  width: 700px;
  z-index: auto;
}

.fc .fc-daygrid-event {
  z-index: auto;
}

.fc-toolbar-title {
  color: hsl(var(--primary));
  font-weight: bold;
}

.fc-toolbar-title::first-letter {
  text-transform: uppercase;
}

.fc-col-header {
  background-color: hsl(var(--primary));
  color: hsl(var(--background));
}

.fc-day-today {
  background-color: hsl(var(--primary));
}

.fc-dayGridMonth-view .fc-day-today .fc-daygrid-day-number {
  font-weight: bold;
}

.fc .fc-button {
  font-size: 0.8em;
}

.fc .fc-button-group > .fc-button.fc-button-active {
  color: hsl(var(--background));
}

.fc .fc-button-primary:not(:disabled).fc-button-active:focus, .fc .fc-button-primary:not(:disabled):active:focus {
  box-shadow: hsla(249, 100%, 68%, 0.137) 0px 0px 0px 0px;
}

.fc .fc-button-primary:hover {
  background-color: hsl(249, 100%, 68%, 0.137);
}

.fc-event {
  cursor: pointer;
}

@media (min-width: 360px) {
  .fc {
    width: 310px;
  }

  .fc .fc-toolbar-title {
    font-size: 1.3em;
  }
}

@media (min-width: 400px) {
  .fc {
    width: 330px;
  }

  .fc .fc-toolbar-title {
    font-size: 1.35em;
  }
}

@media (min-width: 460px) {
  .fc {
    width: 380px;
  }

  .fc .fc-toolbar-title {
    font-size: 1.4em;
  }
}

@media (min-width: 570px) {
  .fc {
    width: 500px;
  }

  .fc .fc-toolbar-title {
    font-size: 1.45em;
  }
}

@media (min-width: 640px) {
  .fc {
    width: 380px;
  }

  .fc .fc-toolbar-title {
    font-size: 1.5em;
  }
}

@media (min-width: 760px) {
  .fc {
    width: 450px;
  }

  .fc .fc-toolbar-title {
    font-size: 1.55em;
  }
}

@media (min-width: 950px) {
  .fc {
    width: 550px;
  }

  .fc .fc-toolbar-title {
    font-size: 1.6em;
  }
}

@media (min-width: 1024px) {
  .fc {
    width: 600px;
  }

  .fc .fc-toolbar-title {
    font-size: 1.65em;
  }
}

@media (min-width: 1150px) {
  .fc {
    width: 700px;
  }

  .fc .fc-toolbar-title {
    font-size: 1.7em;
  }
}

@media (min-width: 1530px) {
  .fc {
    width: 580px;
  }

  .fc .fc-toolbar-title {
    font-size: 1.75em;
  }
}

@media (min-width: 1760px) {
  .fc {
    width: 700px;
  }

  .fc .fc-toolbar-title {
    font-size: 1.75em;
  }
}